header {
	width: 100%;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			max-width: 70px;
			a {
				img {
					width: 100%;
					height: 100%;
					margin-top: 10px;
				}
			}
		}
		nav {
			.gnb {
				display: flex;
				li {
					&:last-child a {
						border-right: none;
					}
					a {
						display: block;
						font: bold 16px/1 'pretendard';
						color: #000;
						padding: 5px 20px;
						transition: all 0.7s;
						letter-spacing: 1px;
						border-right: 1px solid #000;
					}
					&:hover {
						a {
							background: #333;
							color: #fff;
						}
					}
				}
			}
		}
		.fa-bars {
			font-size: 24px;
			position: relative;
			bottom: 0px;
			right: 40px;
			display: none;
		}
	}
}
//tablet----------------------------------------------------------

@media screen and (max-width: $tablet) {
	header {
		width: 100%;

		.inner {
			width: 100%;
			nav {
				.gnb {
					display: none;
				}
			}
			.fa-bars {
				display: block;
			}
		}
	}
}

//mobile -------------------------------------------------------------

@media screen and (max-width: $mobile) {
	header {
		.inner {
			width: 100%;
		}
	}
}
