.content {
	figure {
		position: relative;
		width: 100%;
		background: #aaa;
		margin-bottom: 150px;
		position: relative;
		.sub_visual {
			width: 100%;
			height: 400px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.info {
			position: relative;
			width: 1180px;
			margin: 0 auto;
			height: 100%;
			.infoTxt {
				position: absolute;
				left: 10px;
				bottom: -50px;
				span {
					font: $font-middle;
					&:nth-child(1) {
						margin-left: 10px;
						margin-right: 20px;
						&::after {
							content: '/';
							margin-left: 20px;
						}
					}
					&:hover ~ .cursor {
						transform: scale(8);
					}
				}
				h2 {
					margin-top: 10px;
					font: bold 120px/1 'pretendard';
					color: $main-color;
					&:hover ~ .cursor {
						transform: scale(20);
					}
				}
				h3 {
					font: bold 120px/1 'Oswald';
					color: $main-color;
					&:hover ~ .cursor {
						transform: scale(20);
					}
				}
				.cursor {
					position: absolute;
					left: 0;
					top: 0;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					z-index: 9999;
					background-color: #fff;
					user-select: none;
					pointer-events: none;
					transition: transform 0.3s;
					mix-blend-mode: difference;
				}
			}
		}
	}

	> .inner {
		width: 1180px;
		margin: 100px auto 150px;
		position: relative;
		transform: translateY(100px);
		opacity: 0;
		transition: 1s;
	}

	&.on {
		.inner {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

/*tablet -----------------------------------------------------------------*/

@media screen and (max-width: $tablet) {
	.content {
		figure {
			.info {
				.infoTxt {
					bottom: -45px;
					span {
						font: $font-smaller;
					}
					h2 {
						font: bold 100px/1 'pretendard';
					}
					h3 {
						font: bold 100px/1 'Oswald';
					}
				}
			}
		}

		> .inner {
			width: 100%;
			padding: 10px;
		}
	}
}

/*mobile -----------------------------------------------------------------*/

@media screen and (max-width: $mobile) {
	.content {
		figure {
			.info {
				.infoTxt {
					bottom: -25px;
					span {
						font: $font-smaller;
					}
					h2 {
						font: bold 65px/1 'pretendard';
					}
					h3 {
						font: bold 65px/1 'Oswald';
					}
				}
			}
		}
	}
}
