.popup {
	width: 100%;
	height: 100%;
	padding: 8vw 15vw;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.9);
	z-index: 10;

	> span {
		font: bold 14px/1 'arial';
		color: #fff;
		cursor: pointer;
		position: absolute;
		top: 3vw;
		right: 3vw;
	}

	.con {
		width: 100%;
		height: 100%;
		border: 1px solid #888;
		position: relative;

		iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		> span {
			font: bold 14px/1 'arial';
			color: #fff;
			cursor: pointer;
			position: absolute;
			top: -50px;
			right: 0px;
			padding: 10px 15px;
			border: 1px solid #eee;
			> &:hover {
				background: #fff;
				color: #000;
			}
		}
	}
}

/* tablet ------------------------------------------------------*/

@media screen and (max-width: $tablet) {
	.popup {
		padding: 10vw;
	}
}

/* mobile ------------------------------------------------------*/

@media screen and (max-width: $mobile) {
	.popup {
		padding: 30vw 2vw;
	}
}
