.btns {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 10;

	li {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background: #999;
		cursor: pointer;
		margin: 20px;
		transition: 0.7s;

		&.on {
			height: 80px;
			background: rgba(20, 88, 63, 0.8);
		}
	}
}
