#Event {
	position: relative;
	background: rgba(255, 255, 255, 0.9);
	.inner {
		width: 1180px;
		margin: 0 auto;
		padding: 50px 0;
		> h2 {
			font: bold 40px/1 'Oswald';
			color: rgba(20, 88, 63, 0.8);
			margin-bottom: 20px;
			text-align: center;
		}
		> p {
			margin-bottom: 20px;
			font: 16px/1.3 'pretendard';
			color: #666;
			text-align: center;
			&::after {
				content: '';
				background: #000;
				height: 1px;
				width: 80px;
				display: block;
				margin: 80px auto;
				transform: rotate(90deg);
			}
		}
		.wrap {
			width: 100%;
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				li {
					padding: 40px 20px;
					flex: 1 31.3%;
					border: 1px solid #000;
					cursor: pointer;
					&:hover {
						background: rgba(20, 88, 63, 0.8);
						h2,
						p {
							color: #fff;
						}
					}
					h2 {
						margin-bottom: 20px;
						font: bold 24px/1.3 'pretendard';
					}
					p {
						font: 18px/1.3 'pretendard';
						color: #777;
					}
				}
			}
		}
	}
}
