#Photo {
	width: 100%;
	.inner {
		width: 1180px;
		margin: 0 auto;
		> h2 {
			color: rgba(20, 88, 63, 0.8);
			font: bold 40px/1 'Oswald';
			margin-bottom: 30px;
		}
		.wrap {
			display: flex;
			.photo {
				flex: 1 50%;
				img {
					width: 100%;
					object-fit: cover;
				}
			}
			.txt {
				flex: 1 50%;
				margin-left: 50px;
				h2 {
					margin-bottom: 30px;
					font: bold 30px/1.3 'pretendard';
				}
				p {
					margin-bottom: 40px;
					font: 20px/1.3 'pretendard';
					color: #777;
				}

				a {
					padding: 10px;
					background: rgba(20, 88, 63, 0.8);
					color: #fff;
					font: bold 16px/1 'pretendard';
					cursor: pointer;
				}
				.schedule {
					margin-top: 90px;
					display: flex;
					h2 {
						color: rgba(20, 88, 63, 0.8);
						font: bold 50px/1 'Oswald';
					}
					h3 {
						margin: 20px 0;
						font: bold 20px/1 'pretendard';
					}
					p {
						font: 20px/1.3 'pretendard';
						color: #777;
					}
				}
			}
		}
	}
}
