#pics {
	position: relative;
	.inner {
		width: 1180px;
		margin: 0 auto;
		> h2 {
			color: $main-color;
			font: $font-big;
			margin-bottom: 50px;
		}
		> h3 {
			font: $font-large;
			margin-bottom: 20px;
		}
		> p {
			font: $font-small;
			color: $sub-color;
			margin: 30px 0;
		}
		.pics_con {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			justify-content: center;
			.pics1 {
				width: 540px;
				margin-right: 30px;
				overflow: hidden;
				img {
					width: 100%;
					margin-bottom: 30px;
					transition: 0.5s;
					&:hover {
						transform: scale(1.05);
					}
				}
			}
			.pics2 {
				width: 540px;
				overflow: hidden;
				img {
					width: 100%;
					transition: 0.5s;
					&:hover {
						transform: scale(1.05);
					}
					&:first-child {
						margin-top: 100px;
						margin-bottom: 30px;
					}
				}
			}
		}
		.wrap {
			width: 100%;
			position: relative;
			h2 {
				font: $font-large;
				margin-bottom: 30px;
			}
			.swiper {
				overflow-x: hidden;
				position: static;
				.swiper-wrapper {
					width: 100%;
				}
				.swiper-button-prev,
				.swiper-button-next {
					z-index: 10;
					transition: 0.7s;
					width: 40px;
					height: 40px;
					display: block;
					position: absolute;
					&:hover {
						transform: scale(1.2);
					}
				}
				.swiper-button-prev {
					right: 50px;
					left: auto;
					top: 15%;
					background: url('../../../public/img/left.png') no-repeat center /
						cover;
				}
				.swiper-button-next {
					right: 10px;
					top: 15%;
					background: url('../../../public/img/right.png') no-repeat center /
						cover;
				}
				.swiper-button-next::after,
				.swiper-button-prev::after {
					display: none;
				}
			}
			article {
				position: relative;
				width: 100%;
				cursor: pointer;
				&:hover {
					.pic img {
						filter: brightness(120%);
					}
					.txt {
						bottom: 10px;
					}
				}
				.pic {
					width: 100%;
					height: 200px;
					&:last-child {
						margin-right: 0;
					}
					img {
						width: 100%;
						height: 100%;
						filter: brightness(50%);
						transition: 0.7s;
					}
				}
				.txt {
					padding: 10px;
					position: absolute;
					left: 0;
					bottom: -100px;
					transition: 0.7s;
					h2 {
						font: bold $font-smaller;
						color: #fff;
						margin-bottom: 10px;
					}
					p {
						font: $font-smaller;
						color: #fff;
					}
				}
			}
		}
	}
}

/* tablet -------------------------------------------------------------*/

@media screen and (max-width: $tablet) {
	#pics {
		.inner {
			width: 100%;
			padding: 20px;
			> h2 {
				margin-bottom: 30px;
			}
			.pics_con {
				.pics1 {
					flex: 1 25%;
					margin-right: 15px;
				}
				.pics2 {
					flex: 1 25%;
				}
			}
		}
	}
}

/* mobile -------------------------------------------------------------*/

@media screen and (max-width: $mobile) {
	#pics {
		.inner {
			> h2 {
				font: $font-large;
				font-family: 'Oswald';
				margin-bottom: 30px;
			}
			> h3 {
				font: bold $font-middle;
			}
			p {
				font: $font-smaller;
			}
			.pics_con {
				.pics1 {
					flex: 1 100%;
					margin-right: 0px;
					img {
						margin-bottom: 5px;
					}
				}
				.pics2 {
					flex: 1 100%;
					img {
						&:first-child {
							margin-top: 0;
							margin-bottom: 5px;
						}
					}
				}
			}
			.wrap {
				h2 {
					font: bold $font-middle;
				}
			}
		}
	}
}
