#textContent {
	width: 100%;
	position: relative;
	margin-bottom: 30px;
	&::after {
		content: '';
		background: url(../../../public/img/textconbg5.jpg) no-repeat center /
			cover;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.6;
		z-index: -1;
	}

	padding: 30px 0;
	.inner {
		width: 1180px;
		margin: 50px auto;
		overflow: hidden;
		> h2 {
			font: $font-large;
			color: $main-color;
			margin-bottom: 30px;
		}
		h3 {
			font: $font-big;
			color: $main-color;
			margin: 50px 0;
		}
		.wrap {
			display: flex;
			flex-wrap: wrap;
			article {
				flex: 1 25%;
				padding: 20px;
				cursor: pointer;
				transition: 0.7s;
				&:hover {
					background: $main-color;
					h2,
					p,
					span {
						color: #fff;
					}
				}
				h2 {
					margin-bottom: 20px;
					font: bold $font-small;
					color: $main-color;
				}
				p {
					margin-bottom: 20px;
					font: $font-smaller;
				}
				span {
					display: block;
					text-align: right;
					margin-right: 30px;
					color: $main-color;
					font: bold $font-smaller;
				}
			}
		}
	}
}

/* tablet -------------------------------------------------------*/

@media screen and (max-width: $tablet) {
	#textContent {
		.inner {
			width: 100%;
			> h2 {
				font: bold $font-middle;
				margin-bottom: 0px;
			}
			h3 {
				margin: 20px 0;
			}
			.wrap {
				padding: 10px;
				article {
					flex: 1 50%;
				}
			}
		}
	}
}

/* mobile -------------------------------------------------------*/

@media screen and (max-width: $mobile) {
	#textContent {
		.inner {
			h3 {
				font: $font-large;
				font-family: 'Oswald';
			}
			.wrap {
				article {
					flex: 1 100%;
				}
			}
		}
	}
}
