#vids {
	margin-top: 50px;
	width: 100%;
	position: relative;
	.inner {
		width: 1180px;
		margin: 0 auto;
		h2 {
			font: $font-big;
			color: $main-color;
			margin-bottom: 50px;
		}
		.wrap {
			width: 100%;
			.vidList {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				li {
					flex: 1 32%;
					margin-bottom: 20px;
					cursor: pointer;
					position: relative;
					transition: 0.7s;

					&:hover {
						img {
							filter: grayscale(0) brightness(120%);
							transform: scale(1);
						}
						.fa-circle-play {
							opacity: 1;
						}
					}
					img {
						width: 100%;
						margin-bottom: 20px;
						filter: grayscale(1);
						transition: 0.7s;
						transform: scale(0.98);
					}
					p {
						margin-bottom: 20px;
						font: $font-smaller;
						color: $sub-color;
					}
					span {
						display: block;
						text-align: right;
						margin-right: 20px;
						font: bold $font-smaller;
						color: $main-color;
					}
					.fa-circle-play {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -150%);
						font-size: 50px;
						color: $main-color;
						opacity: 1;
						transition: 0.7s;
					}
				}
			}
		}
	}
}

/* tablet --------------------------------------------------------*/

@media screen and (max-width: $tablet) {
	#vids {
		.inner {
			width: 100%;
			h2 {
				margin-bottom: 0px;
				padding: 20px;
			}
			.wrap {
				width: 100%;
				.vidList {
					padding: 10px;
				}
			}
		}
	}
}

/* mobile --------------------------------------------------------*/

@media screen and (max-width: $mobile) {
	#vids {
		.inner {
			h2 {
				margin-bottom: 0px;
				padding: 20px;
				font: $font-large;
				font-family: 'Oswald';
			}
			.wrap {
				.vidList {
					flex-direction: column;
				}
			}
		}
	}
}
