.Department {
	.sub_visual {
		width: 100%;
	}
	.inner {
		width: 1180px;
		margin: 0 auto;
		> h2 {
			width: 50%;
			background: #000;
			color: #888;
			font: bold 18px/1 'pretendard';
			padding: 20px 80px;
		}
		.wrap {
			background: #e5e5e5;
			.txtBox {
				width: 100%;
				background: #e5e5e5;
				display: flex;

				.txt1 {
					flex: 1 65%;
					padding: 30px 80px;
					position: relative;
					h2 {
						font: bold 50px/1.3 'pretendard';
						margin-bottom: 30px;
					}
					p {
						font: normal 20px/1.3 'pretendard';
						margin-bottom: 50px;
						color: #999;
					}
					h3 {
						font: 24px/1 'pretendard';
					}
				}
				.txt2 {
					flex: 1 35%;
					padding: 30px;
					background: #000;
					h2 {
						font: bold 70px/1 'orbitron';
						margin-bottom: 20px;
						color: #fff;
					}
					h3 {
						font: bold 40px/1 'pretendard';
						margin-bottom: 20px;
						color: #fff;
					}
					p {
						font: normal 16px/1.3 'pretendard';
						margin-bottom: 30px;
						color: #999;
					}
					h4 {
						font: bold 20px/1 'pretendard';
						margin-bottom: 30px;
						padding-bottom: 30px;
						position: relative;
						color: #fff;

						cursor: pointer;
						&::after {
							content: '>';
							margin-left: 20px;
						}
					}
				}
			}
			.empty {
				background: #999;
				height: 60px;
				display: flex;
				.emp {
					flex: 1 30%;
					background: #fff;
				}
				.between {
					flex: 1 70%;
					background: #e5e5e5;
				}
			}
			.empty1 {
				height: 60px;
				display: flex;
				margin-bottom: 80px;
				.emp1 {
					flex: 1 50%;
					background: #fff;
				}
				h3 {
					position: relative;
					flex: 1 50%;
					background: #000;
					height: inherit;
					color: #888;
					margin-right: 60px;
					text-align: right;
					padding-top: 15px;
					padding-right: 15px;
					&::after {
						content: '';
						display: block;
						position: absolute;
						right: -40px;
						bottom: 20px;
						background: url(../../../public/img/arrowright.png) no-repeat
							center / cover;
						width: 20px;
						height: 20px;
						cursor: pointer;
						transform: rotate(90deg);
					}
				}
			}
		}
		.container {
			width: 1180px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			article {
				cursor: pointer;
				margin-bottom: 10px;
				position: relative;
				overflow: hidden;
				&:nth-child(10) {
					margin-right: 15px;
					grid-column: 2 / span 2;
					grid-row: 2 / span 2;
					&:hover::after {
						filter: contrast(1) brightness(120%);
					}
					&::after {
						content: '';
						background: url('../../../public/img/department/bg1.jpg')
							no-repeat center / cover;
						position: absolute;
						display: block;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						filter: contrast(10);
						transition: 0.7s;
					}
				}
				.pic1 {
					width: 280px;
					height: 300px;
					position: relative;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						filter: grayscale(1);
					}
					.desc {
						position: absolute;
						left: 0;
						bottom: -80px;
						opacity: 0;
						transition: 0.7s;
						padding-left: 10px;
						h2 {
							font: bold 20px/1 'pretendard';
							color: #fff;
							margin-bottom: 10px;
						}
						h3 {
							font: 18px/1 'pretendard';
							color: #999;
						}
					}
				}
				&:hover .pic1 {
					img {
						filter: grayscale(0) brightness(120%);
					}
					.desc {
						left: 0;
						bottom: 20px;
						opacity: 1;
					}
				}
			}
		}
	}
}
