.Department {
	.sub_visual {
		width: 100%;
		height: 500px;
	}
	.inner {
		width: 1180px;
		margin: 0 auto;

		> h2 {
			text-align: left;
			padding-top: 30px;
			border-top: 3px solid #000;
		}

		.common {
			> h2 {
				text-align: center;
				font: bold 24px/1 'GmarketSansMedium';
				margin-bottom: 20px;
			}

			span {
				display: block;
				margin: 20px auto;
				width: 250px;
				height: 30px;
				border-bottom: none;
			}

			.wrap1 {
				width: 100%;
				text-align: center;

				article {
					display: inline-block;
					cursor: pointer;

					.pic1 {
						width: 150px;
						height: 150px;
						margin: 0 50px;

						img {
							width: 100%;
							height: 100%;
							transition: all 0.7s;
							border-radius: 50%;
							&:hover {
								transform: scale(1.1);
							}
						}

						h2 {
							font: bold 16px/1.3 'GmarketSansMedium';
							color: #999;
							margin-top: 20px;
						}

						.sns {
							display: none;
						}
					}
				}
			}
		}
		.container1 {
			> h2 {
				text-align: center;
				font: bold 24px/1 'GmarketSansMedium';
				color: violet;
				margin-bottom: 20px;
			}

			span {
				display: block;
				border: 3px solid violet;
				margin: 20px auto;
				width: 250px;
				height: 30px;
				border-bottom: none;
			}

			.wrap1 {
				width: 100%;
				text-align: center;

				article {
					display: inline-block;
					cursor: pointer;

					.pic1 {
						width: 150px;
						height: 150px;
						margin: 0 50px;

						img {
							width: 100%;
							height: 100%;
							transition: all 0.7s;
							border: 5px solid violet;
							border-radius: 50%;
							&:hover {
								transform: scale(1.1);
							}
						}

						h2 {
							font: bold 16px/1.3 'GmarketSansMedium';
							color: #999;
							margin-top: 20px;
						}

						.sns {
							display: none;
						}
					}
				}
			}
		}
		.container2 {
			> h2 {
				width: 100%;
				margin: 30px 0;
				text-align: center;
				font: bold 24px/1 'GmarketSansMedium';
				color: rgb(91, 211, 107);
			}
			span {
				display: block;
				border: 3px solid rgb(91, 211, 107);
				margin: 20px auto;
				width: 250px;
				height: 30px;
				border-bottom: none;
			}
			.wrap1 {
				width: 100%;
				text-align: center;
				article {
					display: inline-block;
					cursor: pointer;

					.pic1 {
						width: 150px;
						height: 150px;
						margin: 0 50px;
						img {
							width: 100%;
							height: 100%;
							transition: all 0.7s;
							border: 5px solid rgb(91, 211, 107);
							border-radius: 50%;
							&:hover {
								transform: scale(1.1);
							}
						}
						h2 {
							font: bold 16px/1.3 'GmarketSansMedium';
							color: #999;
							margin-top: 20px;
							padding: 0 10px;
						}
						.sns {
							display: none;
						}
					}
				}
			}
		}

		.container3 {
			> h2 {
				margin: 30px 0;
				text-align: center;
				font: bold 24px/1 'GmarketSansMedium';
				color: rgb(235, 155, 8);
			}
			span {
				display: block;
				border: 2px solid rgb(235, 155, 8);
				margin: 20px auto;
				width: 1px;
				height: 30px;
				border-bottom: none;
			}
			.wrap1 {
				width: 100%;
				text-align: center;
				article {
					display: inline-block;
					cursor: pointer;

					.pic1 {
						width: 150px;
						height: 150px;
						margin: 0 50px;
						img {
							width: 100%;
							height: 100%;
							transition: all 0.7s;
							border: 5px solid rgb(235, 155, 8);
							border-radius: 50%;
							&:hover {
								transform: scale(1.1);
							}
						}
						h2 {
							font: bold 16px/1.3 'GmarketSansMedium';
							color: #999;
							margin-top: 20px;
							padding: 0 10px;
						}
						.sns {
							display: none;
						}
					}
				}
			}
		}

		.container4 {
			> h2 {
				margin: 30px 0;
				text-align: center;
				font: bold 24px/1 'GmarketSansMedium';
				color: rgb(44, 14, 180);
			}
			span {
				display: block;
				border: 3px solid rgb(44, 14, 180);
				margin: 20px auto;
				width: 510px;
				height: 30px;
				border-bottom: none;
			}
			.wrap1 {
				width: 100%;
				text-align: center;
				article {
					display: inline-block;
					cursor: pointer;

					.pic1 {
						width: 150px;
						height: 150px;
						margin: 0 50px;
						img {
							width: 100%;
							height: 100%;
							transition: all 0.7s;
							border: 5px solid rgb(44, 14, 180);
							border-radius: 50%;
							&:hover {
								transform: scale(1.1);
							}
						}
						h2 {
							font: bold 16px/1.3 'GmarketSansMedium';
							color: #999;
							margin-top: 20px;
							padding: 0 10px;
						}
						.sns {
							display: none;
						}
					}
				}
			}
		}

		.container5 {
			padding-bottom: 50px;
			> h2 {
				margin: 30px 0;
				text-align: center;
				font: bold 24px/1 'GmarketSansMedium';
				color: rgb(183, 250, 0);
			}
			span {
				display: block;
				border: 3px solid rgb(183, 250, 0);
				margin: 20px auto;
				width: 650px;
				height: 30px;
				border-bottom: none;
			}
			.wrap1 {
				width: 100%;
				text-align: center;
				article {
					display: inline-block;
					cursor: pointer;

					.pic1 {
						width: 150px;
						height: 150px;
						margin: 0 30px;
						img {
							width: 100%;
							height: 100%;
							transition: all 0.7s;
							border: 5px solid rgb(183, 250, 0);
							border-radius: 50%;
							&:hover {
								transform: scale(1.1);
							}
						}
						h2 {
							font: bold 16px/1.3 'GmarketSansMedium';
							color: #999;
							margin-top: 20px;
							padding: 0 25px;
						}
						.sns {
							display: none;
						}
					}
				}
			}
		}
	}
}
