.Gallery {
	.loading {
		z-index: -1;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.search {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		padding: 20px;
		border-bottom: 1px solid #000;

		.searchBox {
			display: flex;
			justify-content: flex-end;
			input {
				outline: none;
				background: transparent;
				border: none;
				border-bottom: 1px solid #000;
				padding-right: 50px;
				padding-left: 5px;
			}
			button {
				background: transparent;
				border: none;
				cursor: pointer;
			}
		}
		.searchMenu {
			display: flex;
			button {
				outline: none;
				border: none;
				background: transparent;
				margin-right: 20px;
				font: bold 16px/1 'pretendard';
				cursor: pointer;
			}
		}
	}
	> .inner {
		transition: 0s;
		.frame {
			transform: translateY(200px);
			opacity: 0;
			transition: 0.7s;
			&.on {
				transform: translateY(0px);
				opacity: 1;
			}
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				width: calc(100% / 3);
				float: left;
				padding: 10px;
				position: relative;
				filter: grayscale(1);
				transition: 0.7s;
				&:hover {
					filter: grayscale(0) brightness(120%);
					> .inner {
						.txt {
							bottom: 20px;
							opacity: 1;
						}
					}
				}
				> .inner {
					width: 100%;
					background: #fff;
					box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
					padding: 10px;
					.pic {
						width: 100%;
						cursor: pointer;
						img {
							width: 100%;
							object-fit: cover;
						}
					}
					.txt {
						transition: 0.7s;
						position: absolute;
						left: 0;
						bottom: -30px;
						padding: 20px;
						opacity: 0;
						h2 {
							font: bold 14px/1.2 'arial';
							color: #fff;
							margin-bottom: 5px;
						}
						p {
							font: bold 12px/1.2 'arial';
							color: #aaa;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.gallery > .inner .frame article {
		width: calc(100% / 2);
	}
}
@media screen and (max-width: $mobile) {
	.gallery > .inner .frame article {
		width: calc(100% / 1);
	}
}
