.Join {
	.inner {
		> h2 {
			text-align: center;
			color: $main-color;
			font: $font-big;
			margin-bottom: 50px;
		}
		.member_wrap {
			display: flex;
			gap: 20px;
			margin-bottom: 50px;
			article {
				flex: 1 31%;
				width: 100%;
				cursor: pointer;
				&:hover .pic img {
					transform: scale(1.05);
					filter: grayscale(0) brightness(120%);
				}
				.pic {
					img {
						width: 100%;
						filter: grayscale(1);
						transition: 0.7s;
					}
					h3 {
						padding: 10px 0;
						text-align: center;
						font: bold $font-small;
						font-family: 'Oswald';
						color: $main-color;
					}
				}
			}
		}
		.txt {
			margin-bottom: 50px;
			p {
				font: $font-small;
				margin-bottom: 10px;
				&:nth-child(2) {
					color: $main-color;
					font: bold $font-small;
				}
			}
		}
		.membership {
			margin-top: 30px;
			position: relative;
			&::before {
				content: '';
				width: 15px;
				height: 15px;
				background: $main-color;
				display: block;
				position: absolute;
				left: 0;
				top: 15px;
			}
			h2 {
				font: $font-large;
				font-family: 'Oswald';
				color: $main-color;
				margin-bottom: 30px;
				margin-left: 20px;
			}
			textarea {
				width: 100%;
				resize: none;
				padding: 20px;
				font: 16px/1.2 'pretendard';
				margin-bottom: 50px;
			}
		}
		form {
			position: relative;
			&::before {
				content: '';
				width: 15px;
				height: 15px;
				background: $main-color;
				display: block;
				position: absolute;
				left: 0;
				top: 15px;
			}

			h2 {
				font: $font-large;
				font-family: 'Oswald';
				color: $main-color;
				margin-bottom: 30px;
				margin-left: 20px;
			}
			fieldset {
				border: none;
				border-top: 3px solid #000;
				table {
					margin-top: 20px;
					width: 100%;
					border: none;
					tbody {
						tr {
							th {
								width: 40%;
								border: none;
								padding: 20px;
							}
							td {
								width: 60%;
								border: none;
								#userid,
								#email,
								#pwd1,
								#pwd2 {
									border: none;
									border-bottom: 2px solid #999;
									padding-bottom: 10px;
									width: 70%;
								}
								#edu {
									border: none;
								}
								#male,
								#female {
									margin: 10px;
								}
								#sports,
								#game,
								#music {
									margin: 10px;
								}
								textarea {
									width: 70%;
									padding: 10px;
									border: none;
									border-top: 2px solid #999;
									border-bottom: 1px solid #999;
									margin-bottom: 20px;
								}
								input[type='reset'],
								input[type='submit'] {
									width: 150px;
									padding: 10px;
									background: $main-color;
									color: #fff;
									font: 16px/1.2 'pretendard';
									cursor: pointer;
								}
								input[type='submit'] {
									margin-left: 50px;
								}
								span {
									display: block;
									color: red;
									margin: 5px 0;
									font: 14px/1 'pretendard';
								}
							}
						}
					}
				}
			}
		}
		> h2 {
			text-align: center;
			margin-top: 30px;
		}
	}
}

/* tablet -----------------------------------------------------------*/

@media screen and (max-width: $tablet) {
	.Join {
		.inner {
			width: 100%;

			form {
				fieldset {
					table {
						tbody {
							tr {
								td {
									input[type='reset'],
									input[type='submit'] {
										width: 120px;
										font: bold $font-smaller;
									}
									input[type='submit'] {
										margin-left: 10px;
									}
									span {
										font: $font-smaller;
									}
								}
							}
						}
					}
				}
			}
			> h2 {
				font: $font-large;
			}
		}
	}
}

/* mobile -----------------------------------------------------------*/

@media screen and (max-width: $mobile) {
	.Join {
		.inner {
			.member_wrap {
				flex-direction: column;
			}

			form {
				fieldset {
					table {
						tbody {
							tr {
								th {
									padding: 0px;
									text-align: left;
									font: bold $font-smaller;
								}
								td {
									#userid,
									#email,
									#pwd1,
									#pwd2 {
										width: 100%;
									}
									label {
										font: $font-smaller;
									}
									#sports,
									#game,
									#music {
										margin: 5px;
									}
									textarea {
										width: 100%;
									}
									input[type='reset'],
									input[type='submit'] {
										width: 80px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
