.Youtube {
	.txt1 {
		margin-bottom: 50px;
		h2 {
			color: #000;
			font: bold 24px/1 'pretendard';
			margin-bottom: 10px;
		}
		h3 {
			color: #666;
			font: bold 20px/1 'arial';
			margin-bottom: 10px;
		}
		p {
			color: #999;
			margin-bottom: 10px;
			font: 13px/1 'pretendard';
		}
		strong {
			color: #888;
		}
	}
	.youtubeInfo {
		width: 100%;

		article {
			width: 100%;
			border-top: 2px solid #000;
			display: flex;
			justify-content: space-between;
			padding: 20px 10px;
			margin-bottom: 50px;
			position: relative;
			transition: 0.7s;
			cursor: pointer;
			filter: grayscale(1);
			&:hover {
				filter: grayscale(0) brightness(120%);
			}
			.pic {
				flex: 1 40%;
				height: 100%;
				margin-right: 50px;
				position: relative;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: relative;
					&::after {
						content: '';
						display: block;
					}
				}
				.fa-circle-play {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					font-size: 50px;
					color: rgba(20, 88, 63, 0.8);
					opacity: 1;
					transition: 0.7s;
				}
			}

			.con {
				flex: 1 60%;
				height: 100%;
				position: relative;

				h2 {
					font: bold 16px/1.2 'pretendard';
					color: #333;
					margin-bottom: 15px;
				}

				p {
					font: 12px/1.5 'pretendard';
					color: #666;
				}

				span {
					font: bold 12px/1 'pretendard';
					color: #777;
					margin-bottom: 20px;
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Youtube {
		.youtubeInfo {
			display: block;
			padding: 0;

			article {
				width: 100%;
				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Youtube {
		.youtubeInfo {
			display: block;
			padding: 0;

			article {
				width: 100%;
				height: auto;
				padding: 20px 10px;
				flex-direction: column;
				&:hover {
					transform: scale(1.05);
				}
				.pic {
					width: 100%;
				}
				.con {
					width: 100%;
					p {
						margin-bottom: 40px;
					}
				}
			}
		}
	}
}
