$tablet: 1179px;
$mobile: 539px;

$main-color: rgba(20, 88, 63, 0.8);
$font-big: bold 50px/1 'Oswald';
$font-large: bold 30px/1.3 'pretendard';
$font-middle: 20px/1.3 'pretendard';
$font-small: 18px/1.3 'pretendard';
$font-smaller: 14px/1.3 'pretendard';
$sub-color: #777;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/layout';
@import 'common/popup';
@import 'common/menu';

@import 'main/visual';
@import 'main/btns';
@import 'main/pics';
@import 'main/vids';
@import 'main/event';
@import 'main/Photo';
@import 'main/textContent';

@import 'sub/gallery';
@import 'sub/youtube';
@import 'sub/department';
@import 'sub/news';
@import 'sub/contact';
@import 'sub/join';
